<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- Needs for iOS SDK for Maui. -->
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <clear />
    <packageSource key="nuget">
      <package pattern="*" />
      <package pattern="microsoft.net.workload.mono.*" />
      <package pattern="Microsoft.AspNetCore.DataProtection.Abstractions" />
      <package pattern="Aspire.Azure.AI.OpenAI" />
      <package pattern="Microsoft.Extensions.Azure" />
      <package pattern="Microsoft.*" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.SemanticKernel.*" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Microsoft.Extensions.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
